@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
}

p {
    padding: 30px 0;
}

.blue_class {
    color: crimson
}

.flexiable_container {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
}

.half_width {
    width: 50%;
    padding-left: 2%;
}

.topBanner_img {
    width: 70%;
}

.link_btn {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 400;
    cursor: pointer;
    margin-top: 100px;
}