@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.red_class {
    color: crimson
}

.flexiable_container {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center
}

.half_width {
    width: 50%;
    padding-left: 2%;
}

.half_width img {
    width: 80%;
}

.link_btn {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 400;
    cursor: pointer;
}

.middle_banner {
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.recipe_area img {
    align-self: center;
    width: 96%;
    padding-top: 15px;
    border-radius: 10%;
}

.recipe_area {
    text-align: center;
}

.recipies_item {
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
    text-align: left;
}